<html>
    <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px;">
        <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #FF0000;">Cancelamento de Cliente</h2>
            <p>Uma empresa foi removida da plataforma:</p>
            <p style="font-size: 18px;">🏢 <strong>Empresa:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{empresa_name}</code></p>
            <p style="font-size: 18px;">❌ <strong>Motivo:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{motivo}</code></p>
            <p>Atenciosamente,<br><strong>Equipe ZIA</strong></p>
        </div>
        <p style="color: #f9f9f9" >Tag: CancelamentoCliente</p>
    </body>
</html>
