<html>
    <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px;">
        <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
            <h2 style="color: #4CAF50;">Novo Cliente</h2>
            <p>Foi adicionado uma nova empresa à plataforma:</p>
            <p style="font-size: 18px;">👤 <strong>Nome:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{nome}</code></p>
            <p style="font-size: 18px;">🏢 <strong>Nome da Empresa:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{nome_empresa}</code></p>
            <p style="font-size: 18px;">📧 <strong>Email:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{email}</code></p>
            <p style="font-size: 18px;">👤 <strong>Usuário:</strong> <code style="background-color: #f4f4f4; padding: 5px 10px; border-radius: 4px;">{username}</code></p>
            <p>Forte abraço,<br><strong>Equipe ZIA</strong></p>
        </div>
        <p style="color: #f9f9f9" >Tag: NovoCliente</p>
    </body>
</html>